{% extends './base.html' %}


{% load static %}

{% block title %}
  Agregar productos
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesgatos.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylereloj.css' %} ">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/clima.css' %}">
    <title>Agregar Productos</title>
{% endblock %}

{% block body %}
<div class="container mb-5">
    <h1>Agregar productos</h1>
</div>
    


    <div class="container">
        <form id="agregarProductoForm" action="/agregarProductoForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="txtSku">SKU:</label>
                    <input name="txtSku" id="txtSku" type="text" class="form-control">
                </div>

                <div class="col-md-8">
                    <label for="txtNombre">Nombre:</label>
                    <input name="txtNombre" id="txtNombre" type="text" class="form-control">
                </div>

                <div class="col-md-4">
                    <label for="txtStock">Stock:</label>
                    <input name="txtStock" id="txtStock" type="text" class="form-control">
                </div>


                <div class="col-md-4">
                    <label for="txtPrecio">Precio:</label>
                    <input name="txtPrecio" id="txtPrecio" type="text" class="form-control">
                </div>

                <div class="col-md-4">
                    <label for="cmbCategoria">Categoria:</label>
                    <select name="cmbCategoria" id="cmbCategoria" class="form-select" aria-label="Default select example">
                        <option>Seleccione</option>
                        {% for c in cate %}
                        <option value="{{c.id_categoria}}">{{c.nombre_categoria}}</option>
                        {% endfor %}
                      </select>
                </div>

                <div class="col-md-12">
                    <label for="txtDescripcion">Descripción:</label>
                    <input name="txtDescripcion" id="txtDescripcion" type="text" class="form-control">
                </div>

                <div class="col-md-12">
                    <label for="txtImg">Imagen:</label>
                    <input name="txtImg" id="txtImg" type="file" class="form-control">
                </div>

                
            </div>
            <button class="btn btn-dark mt-5 w-100">Agregar producto</button>
        </form>
    </div>


    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">sku</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in prod %}
                <tr>
                    <th scope="row">{{p.sku}}</th>
                    <td><img src="{{p.imagen.url}}" alt="" height="100"></td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.stock}}</td>
                    <td>{{p.precio}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>{{p.id_categoria}}</td>
                    <td><a href="/editarProductos/{{p.sku}}" class="btn btn-primary">Editar</a></td>
                    <td>
                        <form id="eliminarProducto" action="/eliminarProductos/{{p.sku}}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastErrorSku" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy"
                    viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                </svg>
            </div>
            <div class="toast-body">
                El SKU ingresado ya existe en la tienda...
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">

    <div id="toastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
            </svg>
        </div>
        <div class="toast-body">
            ¡Debe completar todos los campos!
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<!-- <div class="toast-container position-fixed bottom-0 end-0 p-3">

    <div id="toastEliminar" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
            </svg>
        </div>
        <div class="toast-body">
            ¡Producto eliminado!
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div> -->

<div id="modalEliminar" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Segur@ que quieres eliminar este producto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/eliminarProducto.js' %}"></script>
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="{% static 'js/clima.js' %}"></script>
    <script src="{% static 'js/agregarProductos.js' %}"></script>
{% endblock %}