{% extends "./base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylereloj.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/clima.css' %}">
{% endblock %}

{% block title %}
  Inicio
{% endblock %}

{% block body %}
    <!-- CAROUSEL--------------------------------------------------------------------------------------------------------- -->

    <div class="container mb-5 mt-5">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/img1.png' %}" class="d-block w-100" alt="..." width="1000px" height="500px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/img2.png' %}" class="d-block w-100" alt="..." width="500px" height="500px">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/img3.png' %}" class="d-block w-100" alt="..." width="500px" height="500px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- PRODUCTOS--------------------------------------------------------------------------------------------------------- -->
<!-- Se agregan los productos a la pantalla de inicio -->
<!-- perros -->
    <div class="container">
        <h2>Perros</h2>
        <div class="containerProductos">
            <div class="row mt-5">
                {% for p in cate_perros %}
                    {% if p.stock > 0 %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card" style="width: 18rem;">
                                <div class="item">
                                    <span class="idProducto">{{p.sku}}</span>
                                    <span class="tituloProducto">{{p.nombre}}</span>
                                    <img src="{{p.imagen.url}}" class="imgProducto" alt="...">
                                    <span class="precioProducto">${{p.precio}}</span>
                                    <span class="descProducto">{{p.descripcion}}</span>
                                    <button class="btnProducto">Agregar al Carrito</button>
                                </div>
                                </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

<!-- gatos -->
        <h2>Gatos</h2>
        <div class="containerProductos">
            <div class="row mt-5">
                
                {% for p in cate_gatos %}
                    {% if p.stock > 0 %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="item">
                                    <span class="idProducto">{{p.sku}}</span>
                                    <span class="tituloProducto">{{p.nombre}}</span>
                                    <img src="{{p.imagen.url}}" class="imgProducto" alt="...">
                                    <span class="precioProducto">${{p.precio}}</span>
                                    <span class="descProducto">{{p.descripcion}}</span>
                                    <button class="btnProducto">Agregar al Carrito</button>
                                </div>
                                </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}


{% block script %}
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="{% static 'js/clima.js' %}"></script>
{% endblock %}