{% extends "./base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylereloj.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/clima.css' %}">
{% endblock %}

{% block title %}
  Inicio de sesión
{% endblock %}

{% block body %}

    <div class="container">
        <form id="agregarUsuarioForm" action="/agregarUsuarioForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}

            <div class="login-box mt-5">

                <h2>Inicio de sesión</h2>
                <!-- -------------------------------------------------------------------------- ROW ---------------------------------------------------------------------- -->
                <div class="row">
                    <div class="col">
                        <label for="txtCorreo">Correo</label>
                        <input onblur="validarForm()" type="text" class="form-control" id="txtCorreo" placeholder="Ej: ejemplo@duocuc.cl">
                        <small id="valCorreo">Debe ingresar correo</small>

                        <div class="col-md-10">
                            <label for="txtContra">Contraseña</label>
                            <input onblur="validarForm()" type="password" class="form-control" id="txtContra" placeholder="Ingrese contraseña">
                            <small id="valContra">Debe ingresar contraseña</small>
                        </div>
                        <div class="col-md-2">
                            <button onclick="password()" class="btn btn-outline-secondary mt-4" type="button" id="button-addon2">
                            
                                <svg id="mostrar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                                <svg id="ocultar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                    <path
                                        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark mt-5 w-100">Iniciar sesion</button>
            </div>

        </form>
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'js/formLogin.js' %}"></script>
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="{% static 'js/clima.js' %}"></script>
{% endblock %}
