{% extends "./base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesgatos.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylereloj.css' %} ">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/clima.css' %}">
{% endblock %}

{% block title %}
    Otros
{% endblock %}

{% block body %}


    <!-- PRODUCTOS ------------------------------------------------------------------------------------------------------------------ -->

    <div class="container">
        <div class="containerProductos">
            <div class="row mt-5">
                <h2>Otros</h2>
                {% for p in cate_otros %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="item">
                            <span class="idProducto">SKU: {{p.sku}}</span>
                            <span class="tituloProducto">{{p.nombre}}</span>
                            <img src="{{p.imagen.url}}" class="imgProducto" alt="...">
                            <span class="precioProducto">${{p.precio}}</span>
                            <span class="descProducto">{{p.descripcion}}</span>
                            <button class="btnProducto">Agregar al Carrito</button>
                        </div>
                        </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Seguro que quiere agregar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No agregar</button>
                <button onclick="productoAgregado()" type="button" class="btn btn-dark"
                data-bs-dismiss="modal">Agregar</button>
            </div>
            </div>
        </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="{% static 'js/clima.js' %}"></script>
{% endblock %}

