{% extends "./base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylereloj.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/clima.css' %}">
    <title>Registro</title>
{% endblock %}

{% block title %}
  Registrar usuario
{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-box mt-5 mb-5">
            <h2>Registrarse</h2>
            <form id="agregarUsuarioForm" action="/agregarUsuarioForm" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="txtNombre">Nombre</label>
                        <input name="txtNombre" id="txtNombre" type="text" placeholder="Ingrese su nombre" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="txtApe">Apellido</label>
                        <input name="txtApe" id="txtApe" type="text" placeholder="Ingrese su apellido" class="form-control">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-7">
                        <label for="txtCorreo">Correo</label>
                        <input name="txtCorreo" id="txtCorreo" type="text" placeholder="Ej: ejemplo@duocuc.cl"
                            class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label for="txtContra">Contraseña</label>
                        <input name="txtContra" id="txtContra" type="password" placeholder="Ingrese su contraseña"
                            class="form-control">
                    </div>
                    <div class="col-md-1">
                        <button onclick="password()" class="btn btn-outline-secondary mt-4" type="button" id="button-addon2">
                        
                            <svg id="mostrar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                            <svg id="ocultar" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                <path
                                    d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                <path
                                    d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center text-center">
                    <div class="col-md-6">
                        <label for="cmbTipo">Categoria:</label>
                        <select name="cmbTipo" id="cmbTipo" class="form-select" aria-label="Default select example">
                            <option>Seleccione</option>
                            {% for t in tipo %}
                            <option value="{{t.id_tipo}}">{{t.nombre_tipo}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="btn btn-dark mt-5 w-100">Registrarse</button>
            </form>
            <div class="container mt-5">
                <form style="font-size: 25px; display: flex; flex-direction: column; align-items: center;" action="/login">
                    <label style="margin-bottom: 10px;" for="">¿Ya tienes una cuenta?</label>
                    <button class="btn btn-dark mt-5 w-50">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toastErrorCorreo" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                </svg>
            </div>
            <div class="toast-body">
                El correo ya esta registrado...
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="toastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-dizzy" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M9.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm-5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM10 11a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
              </svg>
        </div>
        <div class="toast-body">
          ¡Debe completar todos los campos!
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{% static 'js/agregarUsuario.js' %}"></script>
    <script src="{% static 'js/formRegis.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/productos.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="{% static 'js/clima.js' %}"></script>
{% endblock %}